<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 ">    
  <h3><%= page %></h3><br>
</div>

</body>
<% include partials/script %>
</html>